/*-------------------------
-----Table-Of-Content------
01. Helper-Class 
02. Mainmenu-Area
    2.1 DropDown-Menu
03. Header-Area
04. Service-Area
05. About-Area
06. Portfolio-Area
07. Skill-Area
08. Experience-Area
09. Testimonial-Area
10. Contact-Form-Area
11. Preloader-CSS
12. ScrollUpButton
---------------------------
01. wow Class 
--------------------------*/

.wow {
  visibility: hidden;
}

/*------------------------
02. Resets
--------------------------*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figure,
figcaption,
hgroup,
menu,
footer,
header,
nav,
section,
summary,
time,
mark,
audio,
video {
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video,
details,
menu,
section {
  display: block;
}

html {
  max-width: 100%;
  overflow-x: hidden;
  font-size: 10px;
  overflow-y: scroll;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
::after,
::before {
  box-sizing: inherit;
}

@media (min-width: 1200px) {
  html {
    font-size: 12px;
  }
}

/*------------------------
03. Layout
--------------------------*/

body {
  background-color: #ffffff;
  font-family: 'Sofia Pro', Arial, Open Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1.4;
  color: #000000;
  word-wrap: break-word;
  word-break: break-word;
  backface-visibility: hidden;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

@font-face {
  font-family: GT Sectra;
  src: url(../fonts/GT-Sectra-Medium.otf);
}

@font-face {
  font-family: Sofia Pro;
  src: url(../fonts/Sofia-Pro.otf);
  font-weight: 500;
}

@font-face {
  font-family: Sofia Pro;
  src: url(../fonts/Sofia-Pro-Light.otf);
  font-weight: 400;
}

@font-face {
  font-family: Sofia Pro;
  src: url(../fonts/Sofia-Pro-Medium.otf.otf);
  font-weight: 600;
}

@font-face {
  font-family: SF Mono;
  src: url(../fonts/SF-Mono-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: SF Mono;
  src: url(../fonts/SF-Mono-Semibold.otf);
  font-weight: 600;
}

/*------------------------
03. Wrappers
--------------------------*/

.container {
  /* display: flex;
	flex-flow: row wrap; */
  width: 100%;
  max-width: 950px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.content-wrapper {
  position: relative;
}

.content-bg {
  position: absolute;
  width: 975px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(100% - 150px);
  z-index: -2;
  background: #f4f6f8;
}

.circle-highlight {
  position: absolute;
  top: 8px;
  left: -5px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #ffefe1;
  z-index: -999999;
}

.block-highlight {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  width: 100%;
  height: 20px;
  z-index: -999;
  background-color: #ffefe1;
}

.divider {
  height: 2px;
  background-color: #ffd3ad;
  padding: 0px;
}

.wrapper {
  width: 100%;
  transform: translateY(-30px);
  transition: transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s,
    -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
}

.wrapper.is-loaded {
  transform: translateY(0);
}

.page-loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99999;
  -webkit-transition: opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s,
    visibility cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  -o-transition: opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s,
    visibility cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  transition: opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s,
    visibility cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
}
.page-loader.is-loaded {
  opacity: 0;
  visibility: hidden;
  z-index: 99999;
}

/*------------------------
 LAYOUT / OVERRIDES
--------------------------*/

#intro {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94)
    0.3s;
  transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  -o-transition: transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  transition: transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  transition: transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s,
    -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
}
#intro.is-loaded {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.section-wrap {
  padding: 0 15px !important;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.margin-top_0 {
  margin-top: 0 !important;
}

.text-align_center {
  text-align: center;
}

.text-align_right {
  text-align: right;
}

.page-content {
  padding-left: 15px;
  padding-right: 15px;
}

.text-block-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.text-block .title {
  font-size: 1.5rem;
  font-weight: 400;
  color: #000;
}

.text-block p {
  line-height: inherit;
  font-size: 2rem;
}

.text-block span {
  display: block;
}

.text-block a {
  position: relative;
  color: rgb(0, 0, 0);
  font-size: inherit;
  font-weight: 400;
  padding-bottom: 15px;
}

.text-block a:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 12px;
  width: 100%;
  height: 15px;
  z-index: -999;
  background-color: #ffefe1;
}

/*------------------------
05. Tags
--------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #232931;
  /* margin-top: 5.33333rem;  */
}

h1 {
  font-size: 2.6rem;
  line-height: 2.1;
}

h2 {
  font-size: 2.2rem;
  line-height: 1.9;
}

h3 {
  font-size: 2rem;
  line-height: 1.7;
}

ul {
  list-style: none;
  list-style: disc;
  padding-left: 1.25rem;
  margin-top: 1.25rem;
}

img {
  max-width: 100%;
  height: auto;
}

:focus {
  outline: 0;
}

p {
  margin: 0 0 0 0;
  font-size: 1.6rem;
  line-height: 2.5rem;
}

p:empty {
  display: none;
}

a {
  color: #232931;
  text-decoration: none;
  display: inline-block;
  transition: color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s;
}

span {
  font-size: 1.6rem;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignleft {
  margin: 5px 20px 20px 0;
  float: left;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:hover,
a:active {
  color: rgb(0, 0, 0);
}

/*------------------------
06. Footer
--------------------------*/

footer {
  display: block;
}

.footer-wrapper {
  width: 100%;
  max-width: 950px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* footer.footer-wrapper {
	display: flex;
	justify-content: space-between;
} */

footer.primary-footer {
  position: relative;
  display: flex;
  clear: both;
  margin: 80px 0 0;
  color: rgb(0, 0, 0);
}

footer.primary-footer .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 0;
  font-size: 1.4rem;
  border-top: 2px solid #ffd3ad;
}

footer.primary-footer .content .social-media {
  padding: 0;
  margin: 0;
}

footer.primary-footer .content .social-media li {
  display: inline;
  margin-left: 1rem;
}

footer.primary-footer .content .social-media li:first-child {
  margin-left: 0;
}

footer.primary-footer .content .social-media li:first-child > a {
  margin-left: 0;
  text-decoration: underline;
}

footer.primary-footer .content .social-media li > a {
  color: rgb(0, 0, 0);
}

footer.primary-footer .content .social-media li:not(:first-child):before {
  margin-right: 1rem;
  content: '∙';
}

footer.primary-footer .content .social-media li a {
  font-weight: 400;
}

footer.primary-footer .copyright p {
  font-size: inherit;
}

footer.primary-footer p {
  font-size: 1.16667rem;
  margin-top: 0;
  line-height: 2em;
  color: inherit;
}

footer.primary-footer .btn {
  display: flex;
  align-items: center;
  border: none;
  color: inherit;
  background-color: transparent !important;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
}

footer.primary-footer .btn:after {
  content: '';
  display: block;
  background: url('../../uploads/circle-arrow-white.svg') no-repeat;
  width: 24px;
  height: 24px;
  margin: 0 0 0 12px;
}

/*------------------------
07. Header & Navigation
--------------------------*/

header {
  display: block;
}

header.header-area {
  padding: 4.16667rem 0;
  z-index: 1;
  width: 100%;
  display: block;
  transition: transform 0.25s ease-in-out;
}

.header-unpin {
  /* display: none; */
  transform: translateY(-65px);
}

.header-pin {
  /* display: block; */
  transform: translateY(0);
}

header.header-area .container {
  position: relative;
}

header.header-area.large-header {
  display: none;
}

header.header-area .nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
}

header.header-area.small-header {
  display: none;
}

header.header-area.small-header {
  display: none;
}

header.header-area .logo {
  position: relative;
}

header.header-area .logo a {
  font-size: 4rem;
  line-height: 1.16667;
  font-weight: 700;
}

header.header-area .logo a svg {
  width: 100%;
  height: 100%;
}

header.header-area nav ul li a {
  font-weight: 400;
  color: rgb(122, 122, 122);
}

header.header-area nav ul li a:hover {
  color: #000;
}

header.header-area nav ul li.menu-item-has-children {
  position: relative;
}

header.header-area nav ul li.active a {
  color: #000;
}

/*------------------------
08. Pagination
--------------------------*/

.pagination {
  padding-top: 2.5rem;
  clear: both;
  display: flex;
  justify-content: center;
}

.pagination .arrow a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination .arrow a svg {
  display: block;
  margin-top: 3px;
}

.pagination .arrow a svg path {
  fill: #000000;
  transition: fill cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s;
}

.pagination .arrow a:hover svg path {
  fill: rgb(0, 0, 0);
}

.pagination .arrow.next a span {
  position: relative;
  margin-right: 1.25rem;
  font-size: inherit;
}

.pagination .arrow.next a span:before {
  position: absolute;
  display: block;
  content: '';
  bottom: -2px;
  width: 100%;
  height: 15px;
  z-index: -999;
  /* background-color: rgb(255, 255, 255); */
  background-color: #ffefe1;
}

.pagination .arrow.next a:hover span {
  color: rgb(0, 0, 0);
}

.pagination .arrow.disabled a {
  pointer-events: none;
  opacity: 0.6;
}

.pagination ul {
  padding: 0;
  margin: 0;
}

.pagination ul li {
  display: inline-block;
  margin-left: 2.66667rem;
}

.pagination ul li:first-child {
  margin-left: 0;
}

/*------------------------
9. Project
--------------------------*/

.project .hero {
  height: auto;
  position: relative;
  margin: 70px 0 0;
  padding-left: 15px;
  padding-right: 15px;
}

.project .hero .project-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.project .hero .project-header .title-content {
  width: 48%;
}

.project .hero .project-header .title-content h1 {
  position: relative;
  display: inline-block;
  margin-top: 0;
  color: #000000;
  font-family: inherit;
  font-weight: 400;
  font-size: 3.2rem;
}

@media (max-width: 576px) {
  .project .hero .project-header .title-content {
    width: 100%;
  }
  .project .hero .project-header .title-content h1 {
    font-size: 2.6rem;
  }
}

.project .project-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 100px 0 100px 0;
  padding-left: 15px;
  padding-right: 15px;
}

.project .project-content .content_left {
  width: 48%;
}

.project .project-content .content_right {
  width: 48%;
}

.project .project-content p.project-overview {
  color: #000;
  font-weight: 400;
  margin: 0;
}

.project .project-content .scope {
  display: block;
  color: rgb(139, 139, 139);
}

.project .project-content .scope span {
  display: block;
}

.project .project-content .scope span:first-child {
  margin-left: 0;
}

.project .project-content.scope span:not(:first-child):before {
  margin-right: 1rem;
  content: ',';
}

.project-holder {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

/*------------------------
10. Aspect Ratio
--------------------------*/

.calculated-image {
  position: relative;
}

.calculated-image > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100%;
}

.calculated-image.ratio-7-4 {
  padding-top: 57.1428571429%;
}

.calculated-image.ratio-4-3 {
  padding-top: 75%;
}

.calculated-image.ratio-1-1 {
  padding-top: 100%;
}

/*------------------------
11. Animation
--------------------------*/

.animated {
  animation-duration: calc(0.5s) !important;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-fill-mode: both;
  animation-duration: calc(0.3s);
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-fill-mode: both;
  animation-duration: calc(0.3s);
}

@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-scaleout {
  0% {
  }
  100% {
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/*------------------------
12. Portfolio
--------------------------*/

.portfolio-holder {
  margin-bottom: 5.33333rem;
}

.portfolio-holder .filters-holder {
  position: relative;
  justify-content: flex-end;
}

.portfolio-holder .filters-holder .filters-button {
  position: absolute;
  right: 20px;
  bottom: -20px;
  z-index: 999999;
  cursor: pointer;
}

.portfolio-holder .filters-holder .filters-button .filters-button-wrap {
  position: relative;
  width: 50px;
  height: 50px;
}

.portfolio-holder .filters-holder .filters-button svg {
  position: absolute;
  width: 52px;
  height: auto;
  cursor: pointer;
  overflow: visible;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.portfolio-holder .filters-holder .filters-button svg path {
  transition: transform 0.2s;
}

.portfolio-holder .filters-holder .filters-button.is-active span {
  color: #4b83ff !important;
}

.portfolio-holder .filters-holder .filters-button .arrow-up.is-active {
  transform: translateY(-0.05rem);
}

.portfolio-holder .filters-holder .filters-button .arrow-down.is-active {
  transform: translateY(0.05rem);
}

.portfolio-holder .filters-holder ul {
  position: absolute;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-left: 2.5rem;
  text-align: right;
  top: -220px;
  right: 10px;
}

.portfolio-holder .filters-holder ul li {
  display: block;
  margin-left: 2.66667rem;
}

.portfolio-holder .filters-holder ul li:first-child {
  /* margin-left: 0; */
}

.portfolio-holder .filters-holder ul li a {
  cursor: pointer;
  font-size: 1.8rem;
  line-height: 38px;
  font-weight: 400;
  color: #000;
  transition: color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s;
}

.portfolio-holder .filters-holder ul li a:hover {
  color: #000000;
}

.portfolio-holder .filters-holder ul li.active a {
  color: #000000;
}

.portfolio-holder .portfolio .portfolio-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 950px;
}

.portfolio-holder .portfolio-inner .selector {
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
}

.portfolio-holder .portfolio-inner .selector .item-holder .content {
  display: block;
  margin: 20px 0 80px 0;
}

.portfolio-holder .portfolio-inner .selector .item-holder .content h1 {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #000;
}

.portfolio-holder .portfolio-inner .selector .item-holder .content p {
  font-size: 2rem;
  color: #000;
  line-height: 0;
  margin: 15px 0 0 0;
}

.portfolio-holder .portfolio-inner .selector .item-holder .item {
  position: relative;
  overflow: hidden;
}

.portfolio-holder .portfolio-inner .selector .item-holder .item > a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.portfolio-holder
  .portfolio-inner
  .selector
  .item-holder
  .item
  .item-entry_overlay {
  position: relative;
}

.portfolio-holder
  .portfolio-inner
  .selector
  .item-holder
  .item
  .item-entry_overlay
  a {
  display: block;
}

.portfolio-holder
  .portfolio-inner
  .selector
  .item-holder
  .item
  .item-entry_overlay
  a
  img {
  display: block;
  border-radius: 0px;
}

.portfolio-holder
  .portfolio-inner
  .selector
  .item-holder
  .item
  .item-entry_overlay
  .item-overlay {
  position: absolute;
  background-color: #ffefe1;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  content: '';
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio-holder
  .portfolio-inner
  .selector
  .item-holder:hover
  .item-entry_overlay
  .item-overlay {
  opacity: 1;
  right: 0;
}

.portfolio-holder
  .portfolio-inner
  .selector
  .item-holder
  .item
  .item-overlay_wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #000;
  fill: #ffffff;
}

.portfolio-holder
  .portfolio-inner
  .selector
  .item-holder
  .item
  .item-overlay_wrap
  .inner-overlay_wrap {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 2rem;
  right: 2rem;
  bottom: 2rem;
  left: 2rem;
}

.portfolio-holder
  .portfolio-inner
  .selector
  .item-holder
  .item
  .item-overlay_wrap
  .inner-overlay_wrap
  .item-title {
  position: relative;
  font-weight: 400;
  color: #000;
  opacity: 0;
  transform: translateX(-1.2rem);
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s;
}

.portfolio-holder
  .portfolio-inner
  .selector
  .item-holder
  .item
  .item-overlay_wrap
  .inner-overlay_wrap
  .item-title:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 2px;
  width: 100%;
  height: 15px;
  z-index: -999;
  background-color: rgb(255, 255, 255);
}

.portfolio-holder
  .portfolio-inner
  .selector
  .item-holder
  .item
  .item-overlay_wrap
  .inner-overlay_wrap
  .item-meta {
  margin-top: auto;
}

.portfolio-holder
  .portfolio-inner
  .selector
  .item-holder
  .item
  .item-overlay_wrap
  .inner-overlay_wrap
  .item-meta
  .categories {
  position: relative;
  z-index: 2;
  margin-top: 0.83333rem;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-1.2rem);
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s;
}

.portfolio-holder
  .portfolio-inner
  .selector
  .item-holder
  .item
  .item-overlay_wrap
  .inner-overlay_wrap
  .item-meta
  .categories
  span {
  display: block;
  margin: 0;
}

.portfolio-holder
  .portfolio-inner
  .selector
  .item-holder
  .item
  .item-overlay_wrap
  .inner-overlay_wrap
  .item-link {
  margin-left: auto;
  margin-top: auto;
}

.portfolio-holder
  .portfolio-inner
  .selector
  .item-holder
  .item
  .item-overlay_wrap
  .inner-overlay_wrap
  .item-link
  a {
  line-height: 0;
  width: auto;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-0.8rem);
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s;
}

.portfolio-holder
  .portfolio-inner
  .selector
  .item-holder
  .item
  .item-overlay_wrap
  .inner-overlay_wrap
  .item-link
  a
  img {
  margin-left: auto;
  transform: translateX(-0.83333rem) translateY(0.83333rem);
  transition: transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s;
}

.portfolio-holder
  .portfolio-inner
  .selector
  .item-holder
  .item
  .item-overlay_wrap
  .inner-overlay_wrap
  .item-link
  a:hover
  img {
  transform: translateX(0) translateY(0.83333rem);
}

.portfolio-holder
  .portfolio-inner
  .selector
  .item-holder:hover
  .item-overlay_wrap
  .inner-overlay_wrap
  .item-meta
  .item-title {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition-delay: 0.15s;
}

.portfolio-holder
  .portfolio-inner
  .selector
  .item-holder:hover
  .item-overlay_wrap
  .inner-overlay_wrap
  .item-meta
  .categories {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition-delay: 0.15s;
}

.portfolio-holder
  .portfolio-inner
  .selector
  .item-holder:hover
  .item-overlay_wrap
  .inner-overlay_wrap
  .item-link
  a {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition-delay: 0.3s;
}

@media (min-width: 576px) {
  .portfolio-holder
    .portfolio-inner
    .selector
    .item-holder
    .item
    .item-overlay_wrap
    .inner-overlay_wrap {
    top: 2.5rem;
    right: 2.5rem;
    bottom: 2.5rem;
    left: 2.5rem;
  }
}

/*------------------------
13. Misc
--------------------------*/

.cta-section {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 100px 0 130px 0;
  padding-right: 15px;
  padding-left: 15px;
}

/* .cta-section:before {
	position: absolute;
	display: block;
	content: "";
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: calc(100% - 50px);
	z-index: -999;
	background-color: rgb(255, 239, 225);
} */

.cta-section .line {
  position: absolute;
  top: -100px;
  left: 50%;
  height: 60px;
  width: 2px;
  background-color: black;
}

.cta-section .cta-intro {
  position: relative;
  width: 150px;
}

.cta-section .cta-intro img.cta-icon {
  position: absolute;
  top: -10px;
  bottom: 0;
  right: 50px;
}

.cta-section .cta-intro .cta-title {
  font-size: 4rem;
  font-weight: normal;
  color: #d4d4d4;
  line-height: 1.4;
}

.cta-section .cta-content {
  width: 60%;
}

.cta-section .cta-content p {
  font-size: 2.2rem;
  line-height: 1.6;
  margin: 0;
  color: #000000;
}

.cta-section .cta-content p a {
  position: relative;
  font-size: inherit;
  color: rgb(0, 0, 0);
}

.cta-section .cta-content a:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 2px;
  width: 100%;
  height: 18px;
  z-index: -999;
  background-color: #ffefe1;
}

.sticker-wrap {
  position: absolute;
  top: 100px;
  right: 100px;
  z-index: -99;
}

.page-title_wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.page-title {
  position: relative;
  max-width: 60%;
  margin-top: 70px;
  margin-bottom: 150px;
  overflow: hidden;
}

.page-title h1 {
  color: #000;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-title .inner {
  overflow: hidden;
}

.page-title .inner > h1 {
  animation: Slide_Up 1s ease;
}

@keyframes Slide_Up {
  0% {
    transform: translateY(400px);
  }
  100% {
    transform: translateY(0);
  }
}

.page-title p {
  color: #000;
  margin-top: 30px;
  font-weight: 400;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-title a {
  position: relative;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 2.2rem;
  line-height: 0.5em;
  font-weight: 400;
  padding-bottom: 15px;
}

.page-title a:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  opacity: 1;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s;
}

.page-title a:hover:after {
  height: 2px;
  width: 100%;
  opacity: 1;
}

.page-title a:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 0;
  width: 100%;
  height: 18px;
  z-index: -999;
  background-color: #ffefe1;
}

.gallery {
  padding-left: 15px;
  padding-right: 15px;
}

.gallery .item {
  margin-bottom: 30px;
}

.gallery .gallery-masonry {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.gallery .gallery-selector {
  overflow: hidden;
}

.gallery .gallery-selector.grid-1 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.gallery .gallery-selector.grid-2 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.gallery .gallery-selector.grid-3 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.gallery.main .gallery-selector:first-child .item {
  margin-bottom: 0;
}

.gallery .item .calculated-image {
  display: block;
}

.mfp-ready .mfp-figure {
  opacity: 0;
}

/*------------------------
14. Filters
--------------------------*/

.filters-holder .filters.item-delay_off li {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-0.66667rem);
  transition: visibility cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s,
    opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s,
    transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s;
}

.filters-holder .filters.item-delay_on li {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.filters-holder .filters.item-delay_on li:nth-child(n + 2) {
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.filters-holder .filters.item-delay_on li:nth-child(n + 3) {
  -webkit-transition-delay: 0.15s;
  -o-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.filters-holder .filters.item-delay_on li:nth-child(n + 4) {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.filters-holder .filters.item-delay_on li:nth-child(n + 5) {
  -webkit-transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.filters-holder .filters.item-delay_on li:nth-child(n + 6) {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.filters-holder .filters.item-delay_on li:nth-child(n + 7) {
  -webkit-transition-delay: 0.35s;
  -o-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.filters-holder .filters.item-delay_on li:nth-child(n + 8) {
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

h1.error404 {
  font-size: 3rem;
}

/*------------------------
15. Mobile Layout: 767px
--------------------------*/

@media (max-width: 767px) {
  .pagination .arrow.next a svg {
    margin-left: auto;
  }

  header.header-area.small-header {
    position: relative;
    display: block;
  }

  header.header-area.small-header nav {
    position: absolute;
    top: 100%;
    right: 0;
    width: calc(100% - 30px);
    z-index: 2;
    padding: 2rem 2rem;
    margin-right: 15px;
    margin-left: 15px;
    background-color: #ffefe1;
    opacity: 0;
    visibility: hidden;
    transform: translateX(2.5rem);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s,
      opacity cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s,
      visibility cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
  }

  header.header-area.small-header nav.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  header.header-area.small-header nav ul {
    padding: 0;
    margin: 0;
  }

  header.header-area.small-header nav ul li {
    list-style: none;
    margin: 0 0 1.25rem 0;
    font-size: 2.2rem;
  }

  header.header-area.small-header nav ul li:last-child {
    margin-bottom: 0;
  }

  header.header-area.small-header nav ul li.button {
    text-align: center;
  }

  header.header-area.small-header .menu-button_wrap {
    display: flex;
    margin-left: auto;
  }

  header.header-area.small-header .menu-button {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 26px;
    margin: 22px 0;
  }

  header.header-area.small-header .menu-button span {
    margin: 0 auto;
    position: relative;
    top: 10px;
  }

  header.header-area.small-header .menu-button span:before,
  .menu-button span:after {
    position: absolute;
    content: '';
  }

  header.header-area.small-header .menu-button span,
  .menu-button span:before,
  .menu-button span:after {
    width: 26px;
    height: 2px;
    background-color: #000;
    display: block;
  }

  header.header-area.small-header .menu-button span:before {
    margin-top: -8px;
  }

  header.header-area.small-header .menu-button span:after {
    margin-top: 8px;
  }

  header.header-area.small-header .menu-effect span {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

  header.header-area.small-header .menu-effect:hover span {
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

  header.header-area.small-header .menu-effect span:before {
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
  }

  header.header-area.small-header .menu-effect:hover span:before {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition-delay: 0s, 0.2s;
    transition-delay: 0s, 0.2s;
  }

  header.header-area.small-header .menu-effect span:after {
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
  }

  header.header-area.small-header .menu-effect:hover span:after {
    margin-top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition-delay: 0s, 0.2s;
    transition-delay: 0s, 0.2s;
  }

  @keyframes cartbtnFade {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }

    10% {
      transform: translateY(-100%);
    }

    15% {
      transform: translateY(0);
    }

    30% {
      transform: translateY(-50%);
    }

    40% {
      transform: translateY(0%);
    }

    100% {
      opacity: 1;
    }
  }

  footer.primary-footer .content {
    padding: 2.5rem 0 4rem 0;
    flex-direction: column;
  }

  footer.primary-footer .content .logo {
    justify-content: center;
    margin-bottom: 2.5rem;
  }

  footer.primary-footer .content .social-media {
    text-align: center;
  }

  footer.primary-footer .content .social-media li {
    margin-bottom: 1.25rem;
  }

  footer.primary-footer .copyright {
    padding: 1.66667rem 0;
  }

  .portfolio-holder .filters-holder ul {
    position: absolute;
    z-index: 1;
    width: 50%;
    top: 100%;
    display: block !important;
    margin: 0.7rem 0 0 0;
    padding: 1.33333rem;
    background-color: #ffefe1;
    opacity: 0;
    visibility: hidden;
    transform: translateY(0.66667rem);
    transition: opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s,
      visibility cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s,
      transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s;
  }

  .portfolio-holder .filters-holder ul:before {
    content: '';
    display: block;
    width: 100%;
    height: 0.75rem;
    position: absolute;
    left: 0;
    top: -0.75rem;
  }

  .portfolio-holder .filters-holder ul.item-delay_on {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .portfolio-holder .filters-holder ul li {
    display: block;
    margin: 0 0 0.5rem 0;
  }

  .portfolio-holder .filters-holder ul li:last-child {
    margin-bottom: 0;
  }

  .portfolio-holder .portfolio-inner .selector {
    width: 100%;
  }

  .cta-section {
    flex-direction: column;
    align-items: left;
  }

  .cta-section .cta-intro {
    position: relative;
    width: 150px;
    height: 100px;
  }

  .cta-section .cta-intro img.cta-icon {
    position: absolute;
    top: -30px;
    bottom: 0;
    right: 50px;
  }

  .cta-section .cta-intro .cta-title {
    font-size: 4rem;
    font-weight: normal;
    color: #d4d4d4;
    line-height: 1.4;
  }

  .cta-section .cta-content {
    width: 100%;
  }

  .text-block-wrap {
    flex-direction: column;
  }

  .text-block {
    max-width: 80%;
    margin-bottom: 20px;
  }

  .page-title {
    max-width: 100%;
  }
}

/*------------------------
16. Desktop Layout: 768px
--------------------------*/

@media (min-width: 768px) {
  .pagination .arrow.next a h5 {
    display: block;
    transition: color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s;
  }

  .pagination .arrow.prev a h5 {
    display: block;
    transition: color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s;
  }

  header.header-area.large-header {
    display: block;
  }

  header.header-area.large-header nav ul {
    padding: 0;
    margin: 0;
  }

  header.header-area.large-header nav ul li {
    display: inline-block;
    margin-left: 4.5rem;
    font-size: 1.5rem;
  }

  header.header-area.large-header nav ul li:first-child {
    margin-left: 0;
  }

  .portfolio-holder
    .portfolio-inner
    .selector
    .item-holder
    .item
    .item-overlay_wrap
    .inner-overlay_wrap {
    top: 2rem;
    right: 2rem;
    bottom: 2rem;
    left: 2rem;
  }

  .gallery .gallery-selector.grid-1 {
    -webkit-box-flex: 0;
    max-width: 100%;
  }

  .gallery .gallery-selector.grid-2 {
    -webkit-box-flex: 0;
    max-width: 50%;
  }

  .gallery .gallery-selector.grid-3 {
    -webkit-box-flex: 0;
    max-width: 33.33333%;
  }

  .text-block {
    max-width: 48%;
  }
}
